* {
  margin: 0;
  padding: 0;
}

#msg {
  border-style: solid;
  margin-left: 70%;
  margin-right: 5%;
  height: 500px;
  margin-top: -475px;
  border-color: black;
  background-color: white;
  border-radius: 20px;
}
.App {
  text-align: center;
  background-image: url("../public/IMG_2771.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.imagrep {
  border-style: solid;
  border-width: 20px;
  border-color: white;
  border-radius: 20px;
}
.videorep {
  border-style: solid;
  border-width: 20px;
  border-color: white;
  border-radius: 20px;
}
.snapbtn {
  font-size: 15px;
  padding: 1px 8px;
  border-style: solid;
}
.btndiv {
  width: 200px;
  margin: auto;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  padding: 15px 30px;
}

.title {
  font-size: 40px;
  text-align: center;
  background: white;
  background-size: 30px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  border-style: solid;
}

.button {
  font-size: 15px;

  position: center;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
